<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Big Data Twitter Query</title>

  <!-- Latest compiled and minified CSS -->

  <link rel="stylesheet" href='/stylesheets/style2.css'/>

  <style>
  p.uppercase {
    text-transform: uppercase;
      }
  </style>

  </head>


  <body >

    <div style="background-color:Black" class="container">

      <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          {{#if user}}

          <div class="hero">
            <section class="layout">
              <div class="branding">
                <a href="/">
                <img src="/images/sophi.jpg" alt="Sophi Logo" align="middle">
                </a>
              </div><!--branding -->
            </section><!-- layout -->
          </div><!-- hero -->
          <br> 

          <ul class="nav navbar-nav">
               
                
    
                <li>
              
                <p class="navbar-text", class "uppercase">
                  <font size="5"><strong>Welcome Back,</strong> </font>
                  <font size= "5">{{user.username}}</font>
                  </p>
                </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li id="selected"><a href="/">Home</a></li>
                    <li><a href="/results">View Results</a></li>
                  <li>
                    <a href="/logout">Log Out</a>
                  </li>
              {{else}}
                <a href="/signin">Sign In</a>
                </li>
              {{/if}}
              
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    {{#if error}}
      <p class="alert alert-warning">{{error}}</p>
    {{/if}}

    {{#if success}}
      <p class="alert alert-success">{{success}}</p>
    {{/if}}

    {{#if notice}}
      <p class="alert alert-info">{{notice}}</p>
    {{/if}}

    <!--where our other templates will insert-->
    {{{body}}}

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>