<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Latest compiled and minified CSS -->

  <link rel="stylesheet" href='/stylesheets/style2.css'/>




</head>


<body >
<div style="background-color:LightCyan" class="jumbotron">
<h1 style="color:black" style="font-family: Futura">Results from Query</h1><br>

<hr />

<div style="background-color:LightCyan" class="jumbotron">
{{#if results}}
  <br>

 
  <h2>Query Summary</h2>

  <div><span style="color:grey; class="label">Searched Keywords:</span> {{ search.query }}</div>
  <div><span style="color:black; class="label">Total Tweets Returned:</span> {{ this.results.length }}</div>  
  <en><span style="color:black; class="label">Query Completed In: {{ search.completed_in }} seconds</span></en>

  <br>
  -----------------------------------------------------------------------------
  <h2>Results</h2>



  <ul id='results'>
  {{#each results}}  
  
    <li style="color:black;">
      <div class='heading'><br>
        <div><span style="color:black; class="label">Created on:</span> {{ this.created_at }}</div><br>
        <div><span style="color:black; class="label">Author:</span> {{ this.user.screen_name }}</div>
        <div><span style="color:black;class="label">Language:</span> {{ metadata.iso_language_code }}</div>
      </div>
   

      <div><span style="color:black; class="label">Message:</span> <p>{{ this.text }} </p></div>

      <div><span style="color:black; class="label">Retweets:</span> {{ this.retweet_count }} | <span style="color:black; class="label">Favorites:</span> {{ this.favorite_count }}</div>
   
      <div>
      {{#if entities.hashtags}}
        <span style="color:black; class="label">Hashtags:</span>
        {{#each entities.hashtags}}
        <span>#{{this.text}} </span>
        {{/each}}
    
      {{else}}
        <span style="color:black; class="label">No Hashtags</span>
      {{/if}}
      </div>
    </li>
    ------------------------------------------------------------------
  {{/each}}
   

   
  
  
  </ul>
  
{{else}}
  <p align="center"">Search for matching words above...</p>

</dev>

{{/if}}


</body>

</html>
