@import url("http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css");


html {
  line-height: 1;
}

a {
	font-size: 20px;
    outline: 0;
     color: #0099FF;
     font-family: Futura;
     font-weight: bold;
}

a:link {
    color: #0099FF;
}

a:visited {
    color: #0099FF;
}

a:hover {
    color: #FFFF00;
}

a:active {
    color: #33FF66;
}

nav ul {
    list-style: Futura;
    padding: 5;
    margin: 0;
}

.formLayout
    {
        background-color: #f3f3f3;
        border: solid 1px #a1a1a1;
        padding: 50px;
        width: 400px;
    }
    
    .formLayout label, .formLayout input
    {
        display: block;
        width: 125px;
        float: left;
        margin-bottom: 30px;
    }
 
    .formLayout label
    {
        text-align: right;
        padding-right: 10px;
    }
 
    br
    {
        clear: left;
    }


.style-1 input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
nav li {
    display: inline;
    border: solid;
    border-width: 1px 1px 0 1px;
    margin: 0 5px 0 0;
    background-color: LightBlue;
}


nav li a {
    padding: 0 10px;
}

#border {
  width: 300px;
  height: 200px;
  background-color: gray;
  box-shadow: 10px 10px 5px #88888;
      }



body {
  background: url("/images/blue-wallpaper-21.jpg");
  font-family: Futura, serif;
  font-size: 1.2rem;
  line-height: 160%;
  
}

